body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
  min-height: 100vh;
  /* If you want to change the site height you can remove overflow-y */
  /* pureSnow will automatically detect height of body tag */
  overflow-y: hidden;
  color: white;
}

.snowflake {
  position: absolute;
  width: 20px; /* Adjust the size of the flower */
  height: 20px;
  background: linear-gradient(45deg, transparent 0%, transparent 50%, #ff6b6b 50%, #f3a683 100%); /* Customize the gradient to resemble a petal */
  border-radius: 50%;
  transform: rotate(45deg); /* Rotate the petal to create a flower shape */
  box-shadow: 0 0 5px white; /* Add a subtle glow effect */
}